.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 190px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Table-Header{
  background-color: lightgray;
  font-weight: bold;
}

.Table-Format{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.Info{
  /* color:black; */
  text-align: right;
}

.A-Tag-Color{
  color: white;
  text-decoration: underline;
}